/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-header__menu {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    justify-content: right;
    margin: 0 auto;
    max-width: 1200px;
  }
  .main-menu {
    position: relative;
    border: none;
    background-color: var(--color-body-bg);
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(0);
    transition: 0s;
    overflow-y: visible;
  }
  // Wrap CV img
  .wrapper-img-cv {
    flex-direction: column-reverse;
    justify-content: center;
    border-right: 2px solid var(--color-second);
  }
  .title-primary {
    text-align: center;
    padding: 0 0.25em 0;
  }
  .img-cv {
    width: 10em;
    margin: 0;
  }

  // Main list menu
  .list-main-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .main_menu__item-link {
    padding: 0 0.5em;
    color: var(--color-text);
    border-bottom: none;

    &:hover {
      color: var(--color-second);
    }
    &:active {
      color: var(--color-first);
    }
  }
  .colum-list {
    display: flex;
    border-bottom: none;
    justify-content: center;
    align-items: center;
  }

  .main-end {
    display: none;
  }

  // Wrapper settings
  .wrapper-settings {
    display: block;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
  .settings-icon {
    display: none;
  }
  .settings {
    position: relative;
    top: 0;
    background-color: transparent;
  }

  .label_setting {
    margin-top: 1em;
    input {
      display: none;
    }
  }
  .list-settings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 2.5em;
    grid-gap: var(--grid-gap);
    padding: 0;
    border-radius: 0;
    border: none;
  }
  .item-settings {
    border-bottom: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .text-settings {
    display: none;
  }
  // Drak mode
  .main-end_label {
    align-items: center;
  }
  // Items list change languaje
  .change-languaje {
    justify-content: center;
    border-bottom: 1px solid var(--color-text-light);
    position: relative;
    width: 100%;
    height: 100%;
  }
  // Margin bottom media query 992px
  .m-bottom {
    margin-bottom: 0em;
  }
  // Hover efect view change translate
  .labels_menu_translate {
    flex-direction: column;
    padding: 0.25em;
    background-color: var(--color-body-bg);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      top: 8%;
      transform: translate(-50%, -0);
    }
    &:hover .m-bottom {
      margin-bottom: 0.5em;
    }
    &:hover .label__translate,
    &:hover .tooltip_information {
      display: block;
    }
  }
  //-------------------------------------

  .label__translate {
    padding: 0;
    display: none;
  }
  .btn-translate {
    &:checked + .img-languaje {
      transform: scale(1.15);
      border: none;
    }
  }

  .img-languaje {
    border-bottom: none;
  }
  .tooltip_information {
    display: none;
  }

  .info_span {
    right: 2.5em;
    bottom: 0.5em;
  }
  .main-end_label {
    display: flex;
  }
}
