.wrapper_btn_back_top {
  width: 100%;
  position: fixed;
  bottom: 1em;
  right: 0;
  display: flex;
  justify-content: center;
}

.btn-back-top {
  -webkit-appearance: none;
  appearance: none;
  display: none;
  width: 2.2em;
  height: 2.2em;
  padding: 0.3em;
  background-color: var(--color-body-bg);
  cursor: pointer;
  border-width: 2.8px;
  border-color: var(--color-first);
  border-style: solid;
  border-radius: 50%;
  outline: none;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  z-index: var(--z-fixed);

  &:active {
    transform: scale(0.9);
    & .cont-arrow {
      transform: scaleX(0.9) scaleY(1.1);
    }
  }
}
.cont-arrow {
  position: relative;
  // transition: 0.1s;
  width: 100%;
  height: 100%;
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
  /* fadeInUp */
  @keyframes btnEntrance {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
  /* fadeOutDown */
  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
