.wrapper_btn_back_top {
  width: 100%;
  position: fixed;
  bottom: 1em;
  right: 0;
  display: flex;
  justify-content: center;
}

.btn-back-top {
  -webkit-appearance: none;
  appearance: none;
  display: none;
  width: 3em;
  height: 3em;
  background-color: var(--color-body-bg);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  z-index: var(--z-fixed);
  box-shadow: 0 0 0 1px hsl(0, 0%, 85%);

  &:active {
    transform: scale(0.95);
  }
}
.cont-arrow {
  position: relative;
  width: 100%;
  height: 100%;
  .arrow_min {
    transform-origin: center;
    animation: rotar 10s linear infinite;

    @keyframes rotar {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .arrow_max {
    transform-origin: center;
    animation: rotar_2 10s linear infinite;

    @keyframes rotar_2 {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(-360deg);
      }
    }
  }
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
  /* fadeInUp */
  @keyframes btnEntrance {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
  /* fadeOutDown */
  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
