.habilidades {
  background-color: var(--color-body-bg);
  border-radius: var(--border-radius);
  box-shadow: 0.1em 0.1em 10px rgba(0, 0, 0, 0.2);
}
.container-habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 0.5em;
}
.wrappers-habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 0.5em;
}
.bar {
  position: relative;
  width: 300px;
  height: 20px;
  margin: 0.5em 0;
  border-radius: var(--border-radius);
  background-color: hsl(0, 0%, 95%);
  overflow: hidden;
}
.bar-progres {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
}
.bar__html {
  width: 85%;
  background-color: #e34f26;
}
.bar__css {
  width: 70%;
  background-color: #1572b6;
}
.bar__js {
  width: 30%;
  background-color: #f7df1e;
}
.bar__wp {
  width: 60%;
  background-color: #2b9b21;
}
.bar__Ps {
  width: 45%;
  background-color: #00c8ff;
}
.bar__Ai {
  width: 70%;
  background-color: #ff7c00;
}
