#__next {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-header {
  height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  background: var(--color-body-bg);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
}

.main-header__menu {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  align-items: center;
  width: calc(100% - 1rem);
  margin: 0 auto;
}
.cv-logo {
  height: 2.5em;
  width: 2.5em;
}
.main-end {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  grid-gap: var(--grid-gap);
}

.main-menu {
  position: absolute;
  text-align: right;
  padding: 0 0.5em;
  width: 100%;
  height: 100vh;
  background-color: var(--color-second-body-bg);
  top: var(--header-height);
  right: -100%;
  transition: 0.3s ease-in;
}

.show_menu {
  right: 0;
}

.change-languaje {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: var(--grid-gap);
  justify-content: flex-end;
  border-bottom: 1px solid var(--color-text-light);
}
.img-languaje {
  width: 2em;
}
.text-change-langua {
  color: var(--color-text);
  padding: 0.5em 0;
}
.list-main-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}
.main_menu__item {
  padding: 0.75em 0;
  border-bottom: 1px solid var(--color-text);
}
.main_menu__item-link {
  color: var(--color-text);
}
.main-menu-toggle {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 300;
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.span-menu-toggle {
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--text-color);

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--text-color);
  }

  &::before {
    animation: animation_menu_before 0.2s linear forwards;

    @keyframes animation_menu_before {
      0% {
        top: 0px;
        transform: rotate(45deg);
        background-color: var(--text-color);
      }
      10% {
        top: 0px;
        transform: rotate(0deg);
      }
      50% {
        top: 0px;
        transform: rotate(0deg);
      }
      100% {
        top: 10px;
      }
    }
  }
  &::after {
    animation: animation_menu_after 0.2s linear forwards;

    @keyframes animation_menu_after {
      0% {
        bottom: 0px;
        transform: rotate(-45deg);
      }
      10% {
        bottom: 0px;
        transform: rotate(0deg);
      }
      50% {
        bottom: 0px;
        transform: rotate(0deg);
      }
      100% {
        bottom: 10px;
      }
    }
  }
}

.span-menu-toggle-show {
  background-color: transparent;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--text-color);
  }
  &::before {
    animation: animation_menuToggle_before 0.2s linear forwards;
    @keyframes animation_menuToggle_before {
      0% {
        top: 10px;
      }
      50% {
        top: 0px;
        transform: rotate(0deg);
      }
      100% {
        top: 0px;
        transform: rotate(45deg);
      }
    }
  }
  &::after {
    animation: animation_menuToggle_after 0.2s linear forwards;
    @keyframes animation_menuToggle_after {
      0% {
        bottom: 10px;
      }
      50% {
        bottom: 0px;
        transform: rotate(0deg);
      }
      100% {
        bottom: 0px;
        transform: rotate(-45deg);
      }
    }
  }
}

.theme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(109, 180, 228);
  padding: 0.2em;
  border-radius: 2em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input {
  &[type="radio"] {
    width: 1.3em;
    height: 1.3em;
    margin: 0 0.3em;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    &:nth-child(1) {
      background-image: url(/static/content/svg/sun-dark.svg);
    }
  }
  &:checked[type="radio"]:nth-child(1) {
    background-image: url(/static/content/svg/sun.svg);
  }
  &[type="radio"]:nth-child(2) {
    background-image: url(/static/content/svg/moon-dark.svg);
  }
  &:checked[type="radio"]:nth-child(2) {
    background-image: url(/static/content/svg/moon.svg);
  }
}
