// Main header styles
.main-header {
  height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  background: var(--color-body-bg);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
}

// Main menu header styles
.main-header__menu {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  align-items: center;
  width: calc(100% - 1rem);
  margin: 0 auto;
}

// Styles for image primary
.cv-logo {
  height: 2.5em;
  width: 2.5em;
}

// List menu container
//----------------------------
.main-menu {
  position: absolute;
  text-align: right;
  padding: 0 0.5em;
  width: 100%;
  height: 100vh;
  background-color: var(--color-second-body-bg);
  top: var(--header-height);
  right: -100%;
  transition: 0.3s ease-in;
}
// Toggle class animation show menu
.show_menu {
  right: 0;
}
//----------------------------

// Items list menu
.list-main-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}
.main_menu__item {
  padding: 0.75em 0;
  border-bottom: 1px solid var(--color-text);
}
.main_menu__item-link {
  color: var(--color-text);
  transition: 0.1s;

  &:hover {
    color: var(--color-second);
  }

  &:active {
    color: var(--color-first);
  }
}

// Items list change languaje
.change-languaje {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: var(--grid-gap);
  justify-content: flex-end;
  border-bottom: 1px solid var(--color-text-light);
}
.text-change-langua {
  color: var(--color-text);
  padding: 0.5em 0;
}
.img-languaje {
  width: 2em;
}

// Label inputs for change 'Dark-Mode'
.main-end {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  grid-gap: var(--grid-gap);
}

.themes {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, max-content);
  grid-gap: var(--grid-gap);
  align-items: center;
  background-color: var(--color-body-bg);
  padding: 0.25em;
  border-radius: 5em;
  box-shadow: 2px 2px 10px -1px hsl(0, 0%, 50%);
}

.main-end_label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

input[type="radio"] {
  background-color: #ff6666;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 1.25em;
  height: 1.25em;
  border-radius: 100%;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3),
    0 0 10px 5px rgba(255, 255, 255, 0);
  transition: 0.2s;
}

input[type="radio"]:checked[type="radio"] {
  background-color: #33ff33;
  box-shadow: inset 0 0 1px 5px rgba(255, 255, 255, 0), 0 0 5px 2px #33ff33;
}

.svg-change-mode_dark {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0.2em;
}

// Button toggle up menu
.main-menu-toggle {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 300;
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.span-menu-toggle {
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--text-color);

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--text-color);
  }

  &::before {
    animation: animation_menu_before 0.2s linear forwards;

    @keyframes animation_menu_before {
      0% {
        top: 0px;
        transform: rotate(45deg);
        background-color: var(--text-color);
      }
      10% {
        top: 0px;
        transform: rotate(0deg);
      }
      50% {
        top: 0px;
        transform: rotate(0deg);
      }
      100% {
        top: 10px;
      }
    }
  }
  &::after {
    animation: animation_menu_after 0.2s linear forwards;

    @keyframes animation_menu_after {
      0% {
        bottom: 0px;
        transform: rotate(-45deg);
      }
      10% {
        bottom: 0px;
        transform: rotate(0deg);
      }
      50% {
        bottom: 0px;
        transform: rotate(0deg);
      }
      100% {
        bottom: 10px;
      }
    }
  }
}

.span-menu-toggle-show {
  background-color: transparent;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--text-color);
  }
  &::before {
    animation: animation_menuToggle_before 0.2s linear forwards;
    @keyframes animation_menuToggle_before {
      0% {
        top: 10px;
      }
      50% {
        top: 0px;
        transform: rotate(0deg);
      }
      100% {
        top: 0px;
        transform: rotate(45deg);
      }
    }
  }
  &::after {
    animation: animation_menuToggle_after 0.2s linear forwards;
    @keyframes animation_menuToggle_after {
      0% {
        bottom: 10px;
      }
      50% {
        bottom: 0px;
        transform: rotate(0deg);
      }
      100% {
        bottom: 0px;
        transform: rotate(-45deg);
      }
    }
  }
}
