// Main header styles
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  background: var(--color-body-bg);
  border-bottom: 1px solid var(--border-color);
  padding: 0 1.25em;
  z-index: var(--z-modal);
}

// Main menu header styles
.main-header__menu {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

// Styles for image primary
.cv-logo {
  height: 2.5em;
  width: 2.5em;
}

// List menu container
//----------------------------
.main-menu {
  position: fixed;
  text-align: right;
  padding: 1em 0.5em;
  width: 100%;
  height: calc(100vh - 3em);
  background-color: var(--color-menu-bg);
  top: var(--header-height);
  right: 0;
  transform: translateX(100%);
  transition: 0.3s ease-in;
  overflow-y: auto;
}
// Toggle class animation show menu
.show_menu {
  transform: translateX(0);
}
//----------------------------

// Items list menu
.list-main-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 0.5em;
}
.colum-list {
  border-bottom: 2px solid var(--color-text);
  &:last-child {
    border-bottom: none;
  }
}
// .main_menu__item {
//   // padding: 0.5em 0;
// }
.main_menu__item-link {
  border-bottom: 1px solid var(--color-text);
  color: hsl(180, 3%, 98%);
  padding: 0.5em 0;

  &:active {
    color: var(--color-first);
  }
}
// Wrapper settings
.wrapper-settings {
  display: none;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.label_setting {
  margin-top: 1em;
  input {
    display: none;
  }
}
.item-settings {
  border-bottom: 1px solid var(--color-text);
  padding: 0.5em 0;
}
.settings-icon {
  display: none;
}
.list-settings {
  display: block;
  width: 100%;
}

.text-settings {
  color: hsl(180, 3%, 98%);
  padding: 0.25em 0;
}
// Items list change languaje
.change-languaje {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid var(--color-text-light);
}
.label__translate {
  padding: 0 0.5em;
}
.btn {
  height: 20px;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  transform: scale(1);

  &:checked + .img-languaje {
    transform: scale(1.2);
    border-bottom: 2px solid rgb(68, 155, 255);
  }
}

.img-languaje {
  display: block;
  border-bottom: 2px solid rgba(68, 155, 255, 0.2);
  width: 1.5em;
  cursor: pointer;
}
.tooltip_information {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-languaje_information {
  width: 0.75em;
  display: block;
  cursor: pointer;
}
.info_span {
  position: absolute;
  display: block;
  background-color: #02a6f2;
  top: 3em;
  right: 0;
  width: 22em;
  text-align: left;
  color: white;
  font-size: var(--smaller-font-size);
  padding: 0.5em;
  border-radius: var(--border-radius);
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5em);
  transition: 0.25s;
  b {
    font-size: var(--small-font-size);
  }
}
.show_info_span {
  animation: show_info_span 5s ease forwards;

  @keyframes show_info_span {
    0% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(0.5em);
    }
    10% {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(0.5em);
    }
  }
}

// Label inputs for change 'Dark-Mode'
.main-end {
  position: relative;
}

.main-end_label {
  position: relative;
}

.inpt-switch-theme {
  &[type="checkbox"] {
    position: relative;
    width: 2.5em;
    height: 1.25em;
    background-color: #83d8ff;
    border-radius: 1.25em;
    border: none;
    transition: var(--transition-05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    &::before {
      content: "";
      position: absolute;
      width: 1.25em;
      height: 1.25em;
      border-radius: 100%;
      top: 0;
      left: 0;
      background-color: #ffcf96;
      transition: var(--transition-05);
      transform: scale(0.8);
      box-shadow: 3px 2px 0px rgba(0, 0, 0, 0.2);
      transition: 0.2s;
    }
  }
  &:checked[type="checkbox"] {
    background-color: #749dd6;

    &::before {
      left: 1.25em;
      background-color: #ffe5b5;
      box-shadow: -3px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

// Button toggle up menu
.main-menu-toggle {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 300;
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.span-menu-toggle {
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: var(--text-color);

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--text-color);
  }

  &::before {
    animation: animation_menu_before 0.2s linear forwards;

    @keyframes animation_menu_before {
      0% {
        top: 0px;
        transform: rotate(45deg);
        background-color: var(--text-color);
      }
      10% {
        top: 0px;
        transform: rotate(0deg);
      }
      50% {
        top: 0px;
        transform: rotate(0deg);
      }
      100% {
        top: 10px;
      }
    }
  }
  &::after {
    animation: animation_menu_after 0.2s linear forwards;

    @keyframes animation_menu_after {
      0% {
        bottom: 0px;
        transform: rotate(-45deg);
      }
      10% {
        bottom: 0px;
        transform: rotate(0deg);
      }
      50% {
        bottom: 0px;
        transform: rotate(0deg);
      }
      100% {
        bottom: 10px;
      }
    }
  }
}

.span-menu-toggle-show {
  background-color: transparent;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--text-color);
  }
  &::before {
    animation: animation_menuToggle_before 0.2s linear forwards;
    @keyframes animation_menuToggle_before {
      0% {
        top: 10px;
      }
      50% {
        top: 0px;
        transform: rotate(0deg);
      }
      100% {
        top: 0px;
        transform: rotate(45deg);
      }
    }
  }
  &::after {
    animation: animation_menuToggle_after 0.2s linear forwards;
    @keyframes animation_menuToggle_after {
      0% {
        bottom: 10px;
      }
      50% {
        bottom: 0px;
        transform: rotate(0deg);
      }
      100% {
        bottom: 0px;
        transform: rotate(-45deg);
      }
    }
  }
}
