/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main-menu {
    overflow-y: auto;
  }
  .title-primary {
    font-size: var(--h1-font-size);
    text-align: left;
    padding: 0 0.25em 0;
  }
  .img-cv {
    width: 7em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main-menu {
    overflow-y: auto;
  }
  .title-primary {
    font-size: var(--h1-font-size);
    text-align: left;
    padding: 0 0.25em 0;
  }
  .img-cv {
    width: 7em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-menu {
    width: 40%;
    border: 1px solid var(--color-first);
    transform: translateX(100%);
    padding: 1em 0.5em;
    overflow-y: auto;
  }
  .show_menu {
    transform: translateX(0);
  }
  .section-primary-wrapper__personalInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    border-radius: var(--border-radius);
    padding: 0.5em;
    grid-gap: 0.5em;
  }
  .wrapper-img-cv {
    flex-direction: column-reverse;
    justify-content: space-around;
    border-right: 2px solid var(--color-second);
  }
  .title-primary {
    text-align: center;
    padding: 0 0.25em 0;
  }
  .img-cv {
    width: 8em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-header__menu {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    align-items: center;
    width: calc(100% - 1rem);
    margin: 0 auto;
  }
  .main-menu {
    position: relative;
    border: none;
    background-color: var(--color-body-bg);
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(0);
    transition: 0s;
    overflow-y: visible;
  }
  .list-main-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .main_menu__item-link {
    padding: 0 1em;

    &:hover {
      color: var(--color-second);
    }
    &:active {
      color: var(--color-first);
      background-color: rgb(255, 255, 255);
    }
  }
  .colum-list {
    display: flex;
    border-bottom: none;
    justify-content: center;
    align-items: center;
  }

  .main-end {
    display: none;
  }
  .text-set_1 {
    display: none;
  }
  .wrapper-settings {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:active {
      color: var(--color-first);
      background-color: var(--color-body-bg);
      transform: scale(0.8);
    }
  }
  .settings {
    position: absolute;
    top: var(--header-height);
    right: 0;
    background-color: var(--color-second-body-bg);
    border-radius: var(--border-radius);
  }
  .show_list-settings {
    padding: 1em;
  }
  .settings-icon {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
  }

  // Toggle class animation show menu

  .wrapper-img-cv {
    flex-direction: column-reverse;
    justify-content: center;
    border-right: 2px solid var(--color-second);
  }
  .title-primary {
    text-align: center;
    padding: 0 0.25em 0;
  }
  .img-cv {
    width: 8em;
    margin: 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .section-primary-wrapper__personalInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    border-radius: var(--border-radius);
    padding: 1em;
  }
  .img-cv {
    width: 10em;
  }
}
