section.section-primary-container 
  .section-primary-wrapper
    h2.subtitle Estudios
    .wrappers-container
      .wraps
        h3.subSub-title Titulo en Grado Medio
        p.text-styles: b Tecnico microinformatico y redes locales
        ul
          li.text-styles Dominio del paquete ofimático de Microsoft
          li.text-styles Dominio de virtualización en VMWarVMWareTools.
          li.text-styles Dominio del software Packet Tracer.
          li.text-styles Habilidad para el montaje y mantenimientoequipos, e instalación de software.
          li.text-styles Dominio del SO Windows Server 2016.
          li.text-styles Dominio del SO Linux Ubuntu 17.04.
          li.text-styles Dominio del SO Ubuntu Server.
          li.text-styles Dominio del HTML5, CSS3 y editores cSublimeText y VS Code.
          li.text-styles Dominion de WordPress, WooCommerce y SEO.
          li.text-styles Dominio de Adobe Photoshop e Illustrator.
      .wraps
        h3.subSub-title Titulo de E.S.O.
        p.text-styles Titulo de la E.S.O. en el instituto Siglo XXILeganes