header.main-header
  nav.main-header__menu
    div
      a(href="https://github.com/javiluli/my-online-cv", target="_blank", title="github.com/javiluli/my-online-cv")
        img(src="./static/content/svg/cv-logo.svg", alt="cv-logo").cv-logo
    .main-end#main-end
      .main-menu-toggle#main_menu_toggle
        span.span-menu-toggle#span_menu_toggle
    nav.main-menu#main_menu
      ul.list-main-menu
        .colum-list
          li.main_menu__item: a(href="https://javiluli.github.io/hover-animations-btn/", target="_blank", key="menu__item_link_1").main_menu__item-link.text Botones animados
          li.main_menu__item: a(href="https://javiluli.github.io/custom-animated-checkbox/", target="_blank", key="menu__item_link_2").main_menu__item-link.text Ckeckbox animados
          li.main_menu__item: a(href="https://javiluli.github.io/icons-svg/", target="_blank", key="menu__item_link_3").main_menu__item-link.text Iconos SVG
          li.main_menu__item: a(href="https://javiluli.github.io/photo-gallery/", target="_blank", key="menu__item_link_4").main_menu__item-link.text Galeria de fotos
          li.main_menu__item: a(href="https://github.com/javiluli/my-online-cv", target="_blank", key="menu__item_link_5").main_menu__item-link.text GitHub

        .colum-list
          li.main_menu__item.wrapper-settings#settings_icon 
            label(for="setting_icon").label_setting
              input#settings_icon(type="button")
              img(src="./static/content/svg/settings.svg", alt="" ).settings-icon

          li.main_menu__item.settings
            ul.list-settings#list_settings
              li.item-settings
                p(key="text_settings_2").text-settings.text Tema oscuro
                label.main-end_label(for='switch')
                  input#switch.inpt-switch-theme(type='checkbox', name='theme')
                  
              li.item-settings
                p(key="text_settings_3").text-settings.text Cambiar idioma
                .change-languaje#change-languaje
                  img(src="./static/content/svg/worldwide.svg", alt="cv-logo").img-languaje_world
                  .labels_menu_translate
                    label(for="es").label__translate
                      input#es(type="radio", name="translate", checked).btn.translate
                      img(src="./static/content/svg/spain.svg", alt="cv-logo").img-languaje
                    label(for="en").label__translate
                      input#en(type="radio", name="translate").btn.translate
                      img(src="./static/content/svg/english.svg", alt="cv-logo").img-languaje
                    label(for="fr").label__translate
                      input#fr(type="radio", name="translate").btn.translate
                      img(src="./static/content/svg/france.svg", alt="cv-logo").img-languaje
                    .tooltip_information
                      img#info_icon(src="./static/content/svg/information.svg", alt="i").img-languaje_information
                      span.info_span#info_span El 
                        b unico 
                        span fin de estas traducciones es poner en practrica funciones de JQuery.