section.section-primary-container 
  .section-primary-wrapper
    h2.subtitle Otras competencias
    .wrappers-container
      .wraps
        h3.subSub-title Otras competencias que puedo desempeñar son
        ul
          li.text-styles Perseverante e insistente.
          li.text-styles Puntualidad y responsabilidad.
          li.text-styles Saber trabajar en equipo.
          li.text-styles Gran respeto hacia las demás personas.
          li.text-styles Saber hablar con educación y entusiasmo.
          li.text-styles Saber aceptar los errores y corregirlos.
          li.text-styles Expresar las cosas siempre con la maclaridad   posible.
          li.text-styles Tener siempre herramientas para resolproblemas.
          li.text-styles Dominion de WordPress, WooCommerce y SEO.
          li.text-styles Gran interés por aprender cada día más sobre el  desarrollo web y sus tecnologías.