section.section-primary-container 
  .section-primary-wrapper.section-primary-wrapper__personalInfo
    .wrapper-img-cv
      .clip_img
        img(src="./static/content/svg/flag.svg", alt="").banner_svg
        img(src="./static/content/img/img-perfil.jpg", alt="").img-cv
      h1.title-primary(key="title_primary") Tecnico en sistemas microinformáticos y redes
    .wrappers-container
      .wraps
        h2.subtitle(key="pi_subtitle_1") Datos personales
        p.text-styles
          b(key="pi_p__b_1") Nombre: 
          i(key="pi_p__i_1") Javier
        p.text-styles
          b(key="pi_p__b_2") Apellidos: 
          i(key="pi_p__i_2") Delgado Rodriguez
        p.text-styles
          b(key="pi_p__b_3") Edad: 
          i(key="pi_p__i_3") 24 años
        p.text-styles
          b(key="pi_p__b_4") Nacionalidad: 
          i(key="pi_p__i_4") Española
      .wraps
        h2.subtitle(key="pi_subtitle_2") Contacto
        p.text-styles
          b(key="pi_p__b_5") Direccion: 
          i(key="pi_p__i_5") Leganes (Madrid)
        p.text-styles
          b(key="pi_p__b_6") Telefono: 
          i(key="pi_p__i_6") (+34) 646 65 81 65
        p.text-styles
          b(key="pi_p__b_7") E-Mail: 
          i(key="pi_p__i_7") javidel96@hotmail.es
          section.wrapper-section
