section.section-primary-container 
  .section-primary-wrapper.section-primary-wrapper__personalInfo
    .wrapper-img-cv
      h1.title-primary Tecnico en sistemas microinformáticos y redes
      img(src="./static/content/img/img.jpg", alt="").img-cv
    .wrappers-container
      .wraps
        h2.subtitle Datos personales
        p.text-styles
          b Nombre: 
          i Javier
        p.text-styles
          b Apellidos: 
          i Delgado Rodriguez
        p.text-styles
          b Edad: 
          i 22 años
        p.text-styles
          b Nacionalidad: 
          i Española
      .wraps
        h2.subtitle Contacto
        p.text-styles
          b Direccion: 
          i Leganes (Madrid)
        p.text-styles
          b Telefono: 
          i (+34) 646 65 81 65
        p.text-styles
          b E-Mail: 
          i javidel96@hotmail.es