section.section-primary-container 
  .section-primary-wrapper
    h2.subtitle Habilidades
    .wrappers-container
      .wraps
        h3 HTML
        .bar
          .bar__html.bar-progres
      .wraps
        h3 CSS
        .bar
          .bar__css.bar-progres
      .wraps
        h3 javascript
        .bar
          .bar__js.bar-progres
      .wraps
        h3 WordPress y SEO
        .bar
          .bar__wp.bar-progres
      .wraps
        h3 Adobe Potohshop
        .bar
          .bar__Ps.bar-progres
      .wraps
        h3 Adobe Illustrator
        .bar
          .bar__Ai.bar-progres