section.section-primary-container 
  .section-primary-wrapper
    h2.subtitle Expeciencia laboral
    .wrappers-container
      .wraps
        h3.subSub-title Simpleinformatica
        p.text-styles: b Simpleinformatica (2018)
        p.text-styles Última semana de septiembre, y los meses de octubre y noviembre. Desarrollo de páginas web y diseño en Photoshop e Illustrator.
      .wraps
        h3.subSub-title TopCarton S.L.
        p.text-styles: b TopCarton S.L. (2015-18, julio y agosto)
        p.text-styles Peón en cadenas de montaje de cajas y expositores de cartón y puesto en máquinas industriales.
      .wraps
        h3.subSub-title Otras actividades laborales
        p.text-styles Experiencia en montaje, limpieza, formateo e instalación de diversos programas (paquete ofimático, antivirus, edición de video, audio y fotografía...)