section.section-primary-container 
  .section-primary-wrapper
    h2.subtitle Expeciencia laboral
    .wrappers-container
      .wraps
        h3.subSub-title Simpleinformatica
        p.text-styles: b Simpleinformatica (2018)
        p.text-styles Ultima semana de septiembre, mes de diciembrnoviembre. Desarrollo de páginas web y diseño en PhotoshoIllustrator.
      .wraps
        h3.subSub-title TopCarton S.L.
        p.text-styles: b TopCarton S.L. (2015-18, julio y agosto)
        p.text-styles Peon en cadenas de montaje de cajas y expositode cartón y puesto en máquinas industriales.
      .wraps
        h3.subSub-title Otras actividades laborales
        p.text-styles Experiencia en monataje, limpieza, formateandenstalacion de diversos programas (paquete ofimático, antivi edición de video, audio y fotografía.)