// Items list change language
.change-languaje {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid var(--color-text-light);
}
.labels_menu_translate {
  position: relative;
  padding: 0.25em;
  display: flex;
}
.label__translate {
  padding: 0 0.5em;
}

.btn {
  height: 20px;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  transform: scale(1);

  &:checked + .img-languaje {
    transform: scale(1.2);
    border-bottom: 2px solid rgb(68, 155, 255);
  }
}
.img-languaje_world {
  display: block;
  width: 1.5em;
  margin: 0.5em 0;
}
.img-languaje {
  display: block;
  width: 1.5em;
  cursor: pointer;
}
.tooltip_information {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-languaje_information {
  width: 0.75em;
  display: block;
  cursor: pointer;
}
.info_span {
  position: absolute;
  display: block;
  background-color: #02a6f2;
  top: 3em;
  right: 0;
  width: 22em;
  text-align: left;
  color: white;
  font-size: var(--smaller-font-size);
  padding: 0.5em;
  border-radius: var(--border-radius);
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5em);
  transition: 0.25s;
  b {
    font-size: var(--small-font-size);
  }
}
.show_info_span {
  animation: show_info_span 5s ease forwards;

  @keyframes show_info_span {
    0% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(0.5em);
    }
    10% {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(0.5em);
    }
  }
}
