// Wrapper settings

.item-settings {
  border-bottom: 1px solid var(--color-text);
  padding: 0.5em 0;
}

.list-settings {
  display: block;
  width: 100%;
}

.text-settings {
  color: hsl(180, 3%, 98%);
  padding: 0.25em 0;
}
