doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href="./static/css/font-Confortaa.css")
    link(rel="stylesheet", href="./static/css/font-Montserrat.css")
    link(rel="stylesheet", href="./static/css/normalize.css")
    link(rel="shortcut icon", href="./static/content/svg/cv-logo.svg", type="image/x-icon")
    title My Online CV
  body
    #__next
      <!------- Header ------->
      include partials/header

      <!------- Main ------->
      main.main-section-body

        <!------- Datos Personales (DP) / Personal Information (PI)------->
        include partials/pi

        <!------- Experiencia Laboral (EL) / Work Experience (WE) ------->
        include partials/we

        <!------- Estudios Académicos (EA) / Academic Studies (AS) ------->
        include partials/as

        <!------- Otras Competencias (OC) / Other Competences (OC) ------->
        include partials/oc

        <!------- Habilidades Personales (HP) / Skills (SKll)------->
        include partials/skll

        <!-- Boton "todo hacia arriba" (btn_back_top) / Button "all up" (btn_back_top) -->
        include partials/btn_back_top
    

      <!------- Footer ------->
      include partials/footer

    script(src="https://code.jquery.com/jquery-3.4.1.js")
    
    //- Progress bar JQuery
    script.
      $(window).scroll(function() {
        var scroll = $(window).scrollTop(),
          dh = $(document).height(),
          wh = $(window).height();
        value = (scroll / (dh - wh)) * 100;
        $("#progress_bar").css("width", value + "%");
      });